* {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
}

.cabecerra__boton-formulario {
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 20px;
}

.hidden {
  display: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--principal-gris);
}

.all {
  max-width: 1300px;
  width: fit-content;
}

ul {
  padding-left: 0;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0%;
}

header {
  position: absolute;
}

.cabecerra {
  position: fixed;
  z-index: 150;
}

.cabecerra__margenFixeada {
  background-color: var(--principal-gris);
  display: flex;
  justify-content: flex-end;
  opacity: 0.8;
  width: auto;
}

.cabecerra__margin-inicio {
  width: fit-content;
}

.formulario__input-caja {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.eye {
  position: absolute;
  right: 16px;
  object-fit: cover;
  flex-basis: 20px;
  height: 20px;
}

.eye:hover {
  background-color: #fff6;
}

.formulario__input {
  width: 100%;
  padding-left: 10px;
  border: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #fff5;
  border-bottom: 3px solid #055;
  border-radius: 2px 2px 1px 1px;
}

.formulario__input:focus-visible {
  outline: none;
}

.cabecerra .rigth div a {
  display: inline-block;
  margin: 6px 5px;
}

.formulario {
  position: fixed;
  opacity: 0.98;
  min-width: fit-content;
  width: 30%;
  max-width: 470px;
  background: #9e594b;
  right: 0%;
  height: fit-content;
  z-index: 200;
  border: 5px solid #89483a;
  border-radius: 5px 0 5px 5px;
}

.formulario__margin {
  margin: 32px 16px;
}

.formulario__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full {
  display: flex;
  margin: 0 4% 0 4%;
  justify-content: center;
  align-items: center;
}

.formulario__submit {
  background-color: #fe524bff;
  margin-bottom: 20px;
  border: 0;
  border-radius: 4px;
}

.formulario__submit:hover {
  background-color: #fe524b88;
}

.white {
  color: #fff;
  text-decoration: none;
}

.littleUp {
  position: relative;
  top: -8px;
}

.stuffed {
  width: 100%;
  height: 450px;
  border-radius: 0 0 6px 6px;
  border-bottom: 3px solid #9e594b;
  object-fit: cover;
}

.stuffed__img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  min-width: 311px;
  z-index: 10;
}

.boton-margin {
  position: absolute;
  display: flex;
  min-width: fit-content;
  width: 40%;
  max-width: 360px;
  z-index: 50;
  justify-content: center;
}

.boton-margin__boton {
  width: 100%;
  opacity: 0.83;
  min-height: fit-content;
  border: 2px solid var(--dark);
  border-radius: 30px;
  height: 50px;
  min-width: fit-content;
  background-color: var(--principal-gris);
}

.boton-margin__boton:hover {
  background-color: var(--dark);
  opacity: 1;
}

.centeText {
  text-align: center;
}

.boton-margin__a {
  display: flex;
  min-width: fit-content;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.boton-margin__b {
  margin: 0 4px 0 4px;
}

h2 {
  font-size: 22px;
  color: rgb(48, 182, 182);
  margin: 0;
}

.titulo {
  display: flex;
  margin-top: 12px;
  padding: 10px;
  width: 90%;
  height: fit-content;
  background-color: var(--gris-claro);
  border-radius: 20px;
  justify-content: center;
  align-content: center;
}

.texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 87%;
  min-width: 300px;
  background-color: var(--gris-claro);
  border-radius: 6px;
  color: #ddd;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 5px;
}

.texto__p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.texto__ul {
  padding-left: 20px;
}

.banner {
  width: 100%;
  padding: 4px 0;
  background-color: var(--dark);
  min-width: 311px;
}

.feedback:hover {
  color: #aaa;
}

.icon {
  height: 19px;
}

@media screen and (max-width: 470px) {
  .formulario__margin {
    margin: 20px 10px 0 10px;
  }

  .full {
    margin: 0;
  }

  .stuffed {
    height: 220px;
  }

  * {
    font-size: 12px;
  }

  .cabecerra__boton-formulario {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) and (min-width: 470px) {
  .cabecerra__boton-formulario {
    font-size: 18px;
    padding-right: 12px;
  }

  .formulario__margin {
    margin: 20px 10px 0 10px;
  }

  .full {
    margin: 0;
  }

  .stuffed {
    height: 320px;
  }

  * {
    font-size: 16px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .full {
    margin: 0 2% 0 2%;
  }

  .stuffed {
    height: 380px;
  }

  * {
    font-size: 15px;
  }

  .cabecerra__boton-formulario {
    font-size: 18px;
  }
}
