<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cabiver</title>

    <link rel="stylesheet" href="css/servis/variables.css">
    <link rel="stylesheet" href="css/servis/center.css">
    <link rel="stylesheet" href="css/servis/normalize.css">
    <link rel="stylesheet" href="css/servis/flexbox.css">
    <link rel="stylesheet" href="css/cuentas/cuentas-css.css">
    <link rel="stylesheet" href="css/cuentas/imagenes.css">
    <link rel="stylesheet" href="css/cuentas/userController.css">
    <link rel="stylesheet" href="css/cuentas/navegacion.css">
    <link rel="stylesheet" href="css/cuentas/ventanaDePost.css">
    <link rel="stylesheet" href="css/cuentas/buscador.css">
    <link rel="stylesheet" href="css/cuentas/vistaDePost.css">
    <link rel="stylesheet" href="css/cuentas/portadaUsuario.css">
    <link rel="stylesheet" href="css/cuentas/ResponsiveAllCuentas.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>


<header id="Header">

    <body>


        <div class="cabecera" id="Mains.js-calcular_y_asignar_width_a_la_cabecera_y_detectar_click">
            <div id="Mains.js-calcular_distancia_y_esperar_click">
                <div class="separadorDeCabecera" id="iconoDeLaPagina">
                    <img class="icono" src="images/camille-300x300.png" alt="">
                </div>
            </div>
            <div id="Mains.js-referencia_para_calcular_la_pocision_de_la_lupa-barra_de_busqueda-div_barra_busqueda">
                <form class="barraDeBusqueda" id="Mains.js-variable_para_el_posicionamiento_de_la_lupa-form_busqueda">
                    <input class="inputs-text-sin-mamadas div-dentro-de-barra-de-busqueda" id="Mains.js-variable_de_posicionamiento" autocomplete="off" name="usuarios" action="" type="text">
                    <button class="fit-height" id="Main.js-posicionar_la_lupa">
                        <img class="icono-lupa" id="lupa" src="images/lupa.png">
                    </button>


                </form>
                <div style="display: flex; justify-content: center;">
                    <div class="divRecomiendaciones" id="Mains.js cuentas.js-posicionamiento_y_actualizacion_de_peticiones_de_recomendados"></div>
                </div>

            </div>
            <div class="div-perfil-tuyo" id="Mains.js-div_de_tu_perfil_para_ajustar_barra_de_busqueda">
                <div class="separadorDeCabecera div-icono-de-usuario" id="Mains.js-agregar_eventos_que_desplegue_opciones_de_usuarios">
                    <div class="MainsJS-arrays_de_iconos_para_volverlos_cuadrados iconPerfil">
                        <img class="iconoPrincipal" src="<%= icon %>">
                    </div>

                    <div class="nombre">
                        <%= name.length>7?`${name.substr(0,7)}...`:name %>
                    </div>
                </div>

            </div>


        </div>

        <div class="Flex-navegador-user" id="Mains.js-pesplegar-opciones-de-sesion" style="display: none;">
            <button class="p-de-navegador" id="Mains.js-detectar-click-ir-a-tu-sitio-web">Ir a mi sitio web</button>
            <button class="p-de-navegador" id="Mains.js-detectar-click-eliminar-cookies">cerrar Sesion</button>
        </div>

</header>

<div  class="bak" id="Main-sugerencia.js-separador_para_el_header">
    <div class="marco" id="Mains.js-div-donde-colocaras-los-post">
    </div>
    <div class="FLEXBOX JUSTIFY-CONTENT">
        <div class="div-para-marco FLEXBOX ALIGN-ITEMS" id="mains.js-limite-fotos" style="display: none;">
            <p class=" fuente">ya no hay mas fotos?</p>
        </div>
    </div>

    <div style="height: 15px;" id="Mains.js-detectar-cuando-es-observado"></div>
</div>

<script src="scripts/cuentas/main-sugerencia.js"></script>

</body>

</html>